@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Online Yazılım Kursları</h1>
    <p>
        <a class="btn btn-primary" href="/course">Apply</a>
    </p>
</div>
